ai-news-summarizer/workflow.json
{
  "name": "AI News Summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        112
      ],
      "id": "4f7786e5-7a7d-4290-a849-cf26722c2f7d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "4352f86b-97d9-49ee-b039-920cfedf808e",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/tag/ai/latest/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "id": "d948f312-1ce6-41e0-a24b-2162bb582552",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        96
      ],
      "id": "7de1778d-dff2-4b10-be01-c2505ccfe35f",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "4c734f6b-77cb-4166-a22c-ef3dd3d4f91c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hey! Please summarize the following news article in a clear, concise, and easy-to-understand way.\n\nMake sure you cover all the important aspects, including:\n\nWhat happened (main event)\n\nWho is involved\n\nWhere and when it happened\n\nWhy it happened (background/context)\n\nKey statements, data, or statistics\n\nImpact or consequences\n\nFuture implications or what might happen next\n\nKeep the tone friendly and engaging, but still informative and professional.\n\nStructure the response like this:\n\nQuick Summary (2–3 lines)\n\nKey Details (bullet points)\n\nWhy It Matters (impact & insights)\n\nKeep it short but make sure no important insight is missed.\n\nArticle Link :  {{ $json.data }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        96
      ],
      "id": "4a340a8a-2dac-43bd-b613-c300f85bfc3b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        320
      ],
      "id": "cefba6df-3959-4760-b614-db9f35a0e7e3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_GEMINI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL_HERE",
        "subject": "Today's AI News For You....",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        96
      ],
      "id": "d576398e-835e-40e7-a6ae-318cd65b2da6",
      "name": "Send a message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
